.App {
  text-align: center;
}

.App-logo {
  
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.prefix{
      position: absolute;
      top: 0.65rem;
      right: 2.1rem;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.container{
  max-width: 100%;
}
.blocInfo{
  height:  200px;
  width: 90%;
  background-color: #e6e6e6;
  margin-left: 15px;
}