body{
    height:100%;
    width:100%;
    overflow:hidden;
}
.fplan_selected_day {
    font-size:12px;
}
.fplan_not_selected_day {
    color:grey;
    font-size:10px;
}
.fplan_occupants_list {
    line-height:1em;
    font-size:12px;
}
.fplan_controls{
    box-shadow: 2px 2px 3px #666666;
}
.fplan_map_controls{
    padding:2px;
}
.fplan_control_content{
    padding:5px;
}
.fplan_control_header, .fplan_map_controls{
    background-color:#3f51b5;
    box-shadow: 2px 2px 3px #888888;
    font-family: serif;
    color:white;
    font-weight:bold;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    padding:5px;

}
.fplan_control_header{
    font-size:14px;
    line-height: 1.42857;
    overflow:auto;
    vertical-align:middle;
}
.fplan_map_container{
    float:left;
    height: 100vh;
    width:80%;
    overflow: hidden;
    box-shadow: 2px 2px 3px #666666;
}
.fplan_fullsize{
    width:100%;
}
.fplan_right_controls{
    float:right;
    height: 100vh;
    overflow: hidden;
    width:20%;

}
.fplan_right_seats{
    height:60%;
    overflow-y: auto;
}
.fplan_right_people{
    height:30%;
    overflow-y: auto;
}
.hovered {
    background-color:yellow;
    stroke-width:10px;
    stroke:orange;
}
.fplan_empty_seat {
    fill: lightskyblue;
}
.fplan_empty_seat.hovered {
    stroke:lightskyblue;
}
.fplan_full_seat {
    fill: red;
}
.fplan_full_seat.hovered {
    stroke:red;
}

.btn-file {
position: relative;
overflow: hidden;
}
.btn-file input[type=file] {
position: absolute;
top: 0;
right: 0;
       min-width: 100%;
       min-height: 100%;
       font-size: 100px;
       text-align: right;
filter: alpha(opacity=0);
opacity: 0;
outline: none;
background: white;
cursor: inherit;
display: block;
}
text {
    font-size:16px;
    font-weight:bold;
    stroke:white;
    stroke-width:.025em;
}
