<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - APP</title>


<!-- CSS -->
<link rel="stylesheet" href="./app/css/main.css">
<link rel="stylesheet" href="./app/css/bootstrap.css">
<link rel="stylesheet" href="./lib/font-awesome/css/font-awesome.css">

<!-- JS Dependencies -->
<script src="./lib/angular/angular.js"></script>
<script src="./lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="./lib/d3/d3.js"></script>
<!-- lib -->
<script src="./app/js/fPlan.js"></script>
<script src="./app/js/fPlan.seat-edit-controller.js"></script>
<script src="./app/js/fPlan.controller.js"></script>
<script src="./app/js/fPlan.filereader.js"></script>
<!-- Angular For Demo -->
<script src="./app/demo/app.js"></script>
</head>
@RenderBody()

</html>


